# Jekyll artifacts
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby
*.gem
Gemfile.lock
vendor/

# Python workflows
__pycache__/
*.py[cod]
.env
.env*
.venv/
venv/

# Local Data Dumps
*.csv
*.tsv
*.xlsx
*.json

# OS files
.DS_Store
Thumbs.db